body {

    background-color: #ffd900;
    font-size: 28px;
}


#logo {
    display: block;
    margin: 40px;
    margin-top: 100px;
    width: 250px;
    float: left;
    margin-left: 100px;
}

#graph {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 10px;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#logout {
    cursor: pointer;
}
