#list {
    margin-top: 0px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 70%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#area1 {
    height: 700px;
}
