.area {
    margin-top: 40px;
    width: 300px;
    height: 300px;

}

#submit {
    margin: 20px 2px;
    padding: 10px 125px;
}

#logout {
    margin: 0px 2px;
    padding: 10px 125px;
}