:root {
    --8bitpurple: #6101ab;
    --8bitpurpleselect: #4601ab;
}

body {
    text-align: center;
}

#menu {
    margin: auto;
    width: 1200px;
    height: 40px;

    margin-bottom: 30px;

}

#area2 {
    display: none;
}

.area {
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 25px;
    background: white;
    width: 300px;
    height: 500px;
    text-align: center;
    border: 6px;
    border-style: solid;
    border-color: var(--8bitpurple);
}

h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 3px;
    margin-top: 0px;
}

h3 {
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

h4 {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fill {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#nextbutton {
    margin: 70px 2px;
    padding: 10px 100px;
}

.submit {
    background-color: var(--8bitpurple);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 33px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.submit:hover {
    background-color: var(--8bitpurpleselect);
}



.selector {
    position: relative;
    display: block;
    max-width: 300px;
    min-width: 300px;
    height: 40px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 10;
}
